@import url("https://use.typekit.net/jvl1kge.css");

:root{
    --grey: #4C4C4C;
    --light-grey: #6E6E6E;
    --secondary-night: #505CA5;
    --light-white: #F8F9FC;
    --white: #EDEEF6;
    --extra-dark-secondary: #4B5599;
}

body{
    background-color: var(--white);
}

h1{
    font-family: proxima-soft, sans-serif;
    font-weight: 800;
    font-style: normal;
    color: var(--secondary-night);
}

p, label, input, textarea, button{
    font-family: proxima-soft, sans-serif;
    font-weight: 300;
    font-style: normal;
}

header{
    margin-bottom: 80px;
}
main{
    width: fit-content;
    background-color: var(--light-white);
    padding: 1.5em;
    border-radius: 8px;
    margin-inline:auto;
}
main h1{
    text-align: center;
}

form{
    margin-inline: auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;

}

main p{
    max-width: 500px;
    margin-inline: auto;
}

.form-group-container{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group label{
    margin-bottom: 0.5rem;
}

.form-group input, .form-group textarea{
    padding: 0.5rem;
    border: 2px solid rgba(211, 211, 211, 0.5);
    border-radius: 8px;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.img-container img{
    width: 200px;
    height: auto;
}

button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: var(--extra-dark-secondary);
    color: var(--white);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
}

button svg{
    margin-left: 1rem;
}
